<%- layout("layouts/BoilerPlate.ejs") %>
<div id="map" style="width: 100%; height: 500px"></div>
<h1 class="text-center">Campgrounds</h1>
<a href="/campgrounds/new">ADD CAMPGROUND</a>


<% for (let camp of campGrounds) { %>
    


    <div class="card" >
        <div class="row">
            <div class="col-md-4">
                <img src="<%= camp.images[0].url%>" class="card-img-top img-thumbnail" alt="...">
            </div>
            <div class="card-body col-md-8">
                <h5 class="card-title"><%= camp.title  %></h5>
                <p class="card-text"><%= camp.description %></p>
                <a href="/campgrounds/<%= camp._id %>" class="btn btn-primary">View <%= camp.title  %></a>
            </div>
        </div>
    </div>

<% } %>
<%- "<script>" %>
const maptilerApiKey = "<%- process.env.MAPTILER_API_KEY %>";
const campgrounds = {
  type: "FeatureCollection",
  features: <%- JSON.stringify(
    campGrounds.map(campground => ({
      type: "Feature",
      geometry: campground.geometry,
      properties: { popUpMarkup: campground?.properties?.popUpMarkup }
    }))
  ) %>
};
<%- "</script>" %>

<script src="/js/clusterMap.js"></script>
   

