<%- layout("layouts/BoilerPlate.ejs") %>
<h1> <%= camp.title %> </h1>
<h2> <%= camp.location %> </h2> 

<a href="/campgrounds/<%= camp._id %>/edit">EDIT</a>
<form action="/campgrounds/<%= camp.id %>?_method=DELETE" method="POST">
    <button>DELETE</button>
</form>

    <a href="/campgrounds">All campgrounds</a>

